
.header-logo {
  position: absolute;
  width: 190px;
  height: 35px;
  left: 219px;
  top: 40px;
}

.header-menu {
  position: absolute;
  height: 17px;
  left: 829px;
  top: 51px;
  font-family: "RobotoMedium", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

}

.header-menu__link {
  text-decoration: none;
  color: black;
  cursor: pointer;
  margin-right: 24px;

}

.main__title {
  position: absolute;
  width: 434px;
  height: 195px;
  left: 218px;
  top: 212px;
  font-family: "PTSerifBold", sans-serif;
  font-weight: bold;
  font-size: 50px;
  line-height: 66px;
  display: flex;
  align-items: center;
}

.main__text {
  position: absolute;
  width: 367px;
  height: 43px;
  left: 218px;
  top: 447px;
  font-family: "RobotoMedium", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}

.main__button {
  position: absolute;
  width: 209px;
  height: 44px;
  left: 219px;
  top: 545px;
  background: #0056EC;
  border-radius: 4px;
  font-family: "RobotoMedium", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: white;
  cursor: pointer;
}

.button__link {
  color: white;
  text-decoration: none;
}

.section__image {}

